.App {
  min-height: 100vh;
  background-image:url('./images/floodbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.headerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px auto;
  border-bottom: 3px solid #eb4f57;
  padding-bottom: 10px;

}

.header {
  text-align: center;
  color: #eb4f57;


}

.imgStyle {
  height: 140px;
  width: 140px;
  padding: 20px;
  margin-left: 20px;
}

.selectContainer {
  color:white;
  font-weight: bolder;
  background-color: #eb4f57;
  margin-right: 20px;
  padding:15px 4px;
cursor: pointer;
  box-shadow: 0 4px 6pxrgba(158, 114, 2, 0.805);

}
.selectContainer > option {padding: 0px;line-height: 0px;}
@media screen and (max-width:748px){
.header{font-size: 18px;margin: 0;margin-bottom: 25px;}  
.selectContainer{padding: 10px;width: 90%;margin: auto;margin-bottom: 20px;}
.App{background-position:-650px;}
}