.App {
  min-height: 100vh;
}
.headerContainer{display: flex;justify-content: center;flex-wrap: wrap;}
.header{padding-top: 50px;color:rgba(255, 0, 0, 0.786);}
.imgStyle{height: 170px; width: 170px;border-radius: 50%;}


